.Modal {
  top: 50%;
  left: 50%;
  border: 1px solid black;
  border-radius: 7px;
  background-color: white;
  transform: translate(-50%, -50%);
  max-width: 550px;
  min-height: 300px;
  width: 100%;
  position: absolute;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
